    <%= stylesheet_link_tag "profile" %>
    
    <div class="userpage" >
      <img src="<%=  @user.get_image %>"  alt="upload Profile Picture" class="profile-image">
    <h1 class="username"><%= @user.full_name %></h1>
      <p class="usermail"><%= @user.email%></p>
      
    </div>


    <div class="content">
          <div class="social-description">
            <h2><%= @user.friends.count %></h2>
            <p>Freinds</p>
          </div>
          <div class="social-description">
            <h2><%= @user.orders.count %></h2>
            <p>orders</p>
          </div>
        </div>

        