<div class="container">
    <div class="row">
        <div class="col-md-6">
           <fieldset class="border p-2">
                <legend class="w-auto">Latest Order</legend>
                <% if @latestOrders %>
                <% @latestOrders.each do |order| %>
                <div>
                    <a class="col-md-12"> <%= order.order_for %> on <%= order.created_at %> </a>
                </div>
                <% end %>
                <% else %>
                <a class="col-md-12"> No orders yet</a>
            <% end %>
                
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="border p-2">
                <legend class="w-auto">Friends Activity</legend>
                
                <div>
                  <% @orders.each do |order| %>
                    <% order.friends.each do |friend| %>
                        <% if User.find_by(email: friend.email).id == current_user.id || current_user.id == order.user_id %>
                            <p class="px-3 text-left">
                            <strong class="text-info"> <%= friend.email %></strong>
                             <span> has created an order for </span>
                                 <strong class="text-info"> <%= order.order_for%></strong>
                                <span> from </span>
                                <strong class="text-info"><%= link_to order.restaurant.name, order%></strong>
                                 </p>
                                 <% end %>
                                 <% end %>
                                 <% end %>
                </div>
            
            </fieldset>
        </div>
    </div>
</div>
