<%= form_with model: @order do |form| %>

<div class="container" >
  <div class="row">
    <div class="col-md-6 addordercontainer" >
      <div class="card-header addorderheader">
        Add Order
      </div>
    <div class="card-body" > 
     
      <div class="form-divs">
        <%= form.label :order_for ,class:"form-label" %><br>
        <%= form.select :order_for, options_for_select(['breakfast', 'launch', 'dinner']), {}, class: "form-control" %>

      </div>
      
      <div class="form-divs">
            <%= form.label :restaurant_name ,class:"form-label" %><br>
            <%= form.text_field :name ,class:"form-control" %>
      </div>

  
      <div class="form-divs">
        <label class:"form-label col-md-12">Friends</label>
        <div class="row">
          <input class="form-control me-2 col-md-8" type="search" placeholder="Friend Email" aria-label="Search" id="fiendsearch" >
          <button class="btn btn-outline-purple col-md-3" id="fiendsearch_form">Add friend</button>
        </div>
      </div>


      <div class="form-divs">
      <label class:"form-label">Groups</label>
        <div class="row">
          <input class="form-control me-2 col-md-8" type="search" placeholder="Group Name" aria-label="Search" id="groupsearch" >
          <button class="btn btn-outline-purple col-md-3" id="groupsearch_form">Add Group</button>
        </div>
      </div>
      
      <div>
         <%= form.submit class:"btn btn-purple"%>
      </div>
      </div>
    </div>
        <fieldset class="col-md-5" style="border-radius: 20px;
        border: 1px #dad1e4 solid;
        margin: 6% 4% 0% 4%;
        padding: 2% 4%;
        text-align: left;">
        <legend style="argin-left: 0em;
        padding: 0px 7px;
        width: auto;
        color: #312141;
        font-size: 30px;
        font-weight: bold;
        font-family: -webkit-body;">Friends</legend>
                <table class="table  orderfriendtable">
 
                  <tbody id="orderfriends">
                 
                      
                </tbody>
                </table>
        </fieldset>

    
  </div>
  </div>
<% end %>
