<%= action_cable_meta_tag %>

<h1>Order Details</h1>
<%= link_to "show invited", order_order_friends_path(order_id:@order.id,status:0) %>
<%= link_to "show joined", order_order_friends_path(order_id:@order.id,status:1) %>



<table class="table" id="orderTable">
<thead class="tbhead">
<tr class="tbrow">
<th scope="col">Person   </th>
<th scope="col">Item_Name</th>
<th scope="col">Amount   </th>
<th scope="col">Price    </th>
<th scope="col">Comment  </th>
<th scope="col">Actions </th>
</tr>
</thead>
<tbody>
<tr lass="tbrow">
<td> <%= render @order.items %> </td>
</tr>

</tbody>
</table>

<div id="order-id" data-order-id="<%= @order.id %>"></div>




