<%= action_cable_meta_tag %>

<h1 class="mb-3">Order Details</h1>
<div class="row">



<table class="table col-md-8 mr-5" id="orderTable">
<thead class="tbhead">
<tr class="tbrow">
<th scope="col">Person   </th>
<th scope="col">Item_Name</th>
<th scope="col">Amount   </th>
<th scope="col">Price    </th>
<th scope="col">Comment  </th>
<th scope="col">Actions </th>
</tr>
</thead>
<tbody>
<tr class="tbrow">
<td> <%= render @order.items %> </td>
</tr>

</tbody>
</table>

<div class="card col-md-3">
  <h5 class="card-header">Friends</h5>
  <div class="card-body">

    <%= link_to "show invited", order_order_friends_path(order_id:@order.id,status:0) ,class:"btn btn-outline-purple col-md-5"%>
    <%= link_to "show joined", order_order_friends_path(order_id:@order.id,status:1) ,class:"btn btn-outline-purple col-md-5"%>
  </div>
</div>

<div id="order-id" data-order-id="<%= @order.id %>"></div>

</div>

