<h1>Orders</h1>
<table class="table">
  <thead class="tbhead">
  <tr >
  <th scope="col">Order   </th>
  <th scope="col">Restaurant</th>
  <th scope="col">Invited   </th>
  <th scope="col">Joined    </th>
  <th scope="col">Status  </th>
  <th scope="col">Actions </th>
  
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr class="tbraw">
    <%  if current_user.id == order.user_id %>
          <td>
            <%= order.order_for %>
          </td>
          <td>
            <%= link_to order.restaurant.name, order.restaurant %>
          </td>
         
          <td> 
              <% @order_friend=OrderFriend.where(order_id:order.id,status:0) %>
              <%= @order_friend.count %>
        
          </td>


          <td>
              <% @order_friend=OrderFriend.where(order_id:order.id,status:1) %>
              <%= @order_friend.count %>
          <td>
               <%= order.status %>
          </td>
          <td>
          <%= link_to "View", order %>
          <% if order.status == "waiting" %>
          <%= link_to "Finish", change_status_to_completed_order_path(order, status: :complete), method: :patch %> 
          <%= link_to "Cancel", change_status_to_canceled_order_path(order, status: :canceled), method: :patch %>
          <% end %>
          </td>
    <% else %>
       <% @friends=OrderFriend.where(order_id:order.id) %>
        <% @friends.each do |orderfriend| %>
          <% if User.find_by(email: orderfriend.friend.email).id == current_user.id %>
          <td>
          <%= order.order_for %>
          </td>
          <td>
          <%= link_to order.restaurant.name, order.restaurant %>
          </td>
          <td> <%# order.friends %> </td>
          <td></td>
          <td>
          <%= order.status %>
          </td>
          <td>
          <%= link_to "View", order %>
          </td>
          </tr >
          <% end %>
        <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>

<%= link_to "New Order", new_order_path, class: "btn  btnorder"%>
