<h1>Orders</h1>
<table class="table">
  <thead class="thead-dark">
  <tr>
  <th scope="col">Order   </th>
  <th scope="col">Restaurant</th>
  <th scope="col">Invited   </th>
  <th scope="col">Joined    </th>
  <th scope="col">Status  </th>
  <th scope="col">Actions </th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
    <%  if current_user.id == order.user_id %>
          <td>
            <%= order.order_for %>
          </td>
          <td>
            <%= link_to order.restaurant.name, order %>
          </td>
          <td> 
<<<<<<< HEAD
              <% @order_friend=OrderFriend.where(order_id:order.id) %>
              <%= @order_friend.count %>
            
          </td>
          <td> 
              <% order.friends %>
=======
              <% @order_fri=OrderFriend.where(order_id:order.id) %>
              <% @order_fri.each do |orderfriend| %>
                  <li>   <%=link_to orderfriend.friend.email, user_url(orderfriend.friend.id)  %></li>
              <% end %>
        </td>
          <td>
               <% order.friends %>
>>>>>>> 5933a939ee585b776328d5ded59f5139f3e64819
          <td>
               <%= order.status %>
          </td>
          <td>
          <%= link_to "View", order %>
          <% if order.status == "waiting" %>
          <%= link_to "Finish", change_status_to_completed_order_path(order, status: :complete), method: :patch %> 
          <%= link_to "Cancel", change_status_to_canceled_order_path(order, status: :canceled), method: :patch %>
          <% end %>
          </td>
    <% else %>
       <% @friends=OrderFriend.where(order_id:order.id) %>
        <% @friends.each do |friend| %>
          <% if User.find_by(email: friend.email).id == current_user.id %>
          <td>
          <%= order.order_for %>
          </td>
          <td>
          <%= link_to order.restaurant.name, order %>
          </td>
          <td> <% order.friends %> </td>
          <td></td>
          <td>
          <%= order.status %>
          </td>
          <td>
          <%= link_to "View", order %>
          </td>
          </tr>
          <% end %>
        <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>

<%= link_to "New Order", new_order_path, class: "btn btn-success"%>
