<!-- Adding JavaScript file -->
<%= javascript_pack_tag 'notifications/notifications' %>

<nav class="navbar navbar-expand-lg navbar-dark class1 justify-content-between">
  <a class="navbar-brand" href="#">
    <%=image_tag("logo.png", class:"brand-image") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
       <%= link_to "Home", authenticated_root_path, class: "nav-item nav-link"  %>
      </li>
       <% if user_signed_in? %>
       <% new_notifications = current_user.receiver_notification.where(viewed: false) %>
        <%# <%= link_to "Edit profile", edit_user_registration_path %> 
        <li class="nav-item dropdown">
          <a id="bell-link" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if new_notifications.count > 0 %>
              <i id="bell" class="fa fa-bell" aria-hidden="true" style="color:crimson;"></i>
            <% else %>
              <i id="bell" class="fa fa-bell" aria-hidden="true"></i>
            <% end %> 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div id="notifications">
            <% new_notifications.each do |notification| %>
              <% if notification.category == "invite" %>
                <a class="dropdown-item" href="#" data-seen="false" data-id="<%= notification.id %>"> <%= notification.sender.full_name %> Has Invited You to His Order</a>
              <% else %>
                <a class="dropdown-item" href="#" data-seen="false" data-id="<%= notification.id %>"> <%= notification.sender.full_name %> Joined Your <%= notification.order.order_for %> </a>
              <% end %>
              <div class="dropdown-divider"></div>
            <% end %>
          </div>
            <% if new_notifications.count == 0 %>
              <p id="no-new-notification" class="text-center"> No New Notifications </p>
            <% end %>
            <a class="dropdown-item" href="#">View All Notifications</a>
          </div>
      </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Friends", friends_path, class: "nav-item nav-link"  %>
      </li>

      <li class="nav-item">
        <%= link_to "Groups", groups_path, class: "nav-item nav-link"  %>
      </li>

      <li class="nav-item">
        <%= link_to "Orders", orders_path, class: "nav-item nav-link"  %>
      </li>

      <% if user_signed_in? %>
        <%# <%= link_to "Edit profile", edit_user_registration_path %> 
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-item nav-link"  %>
        </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, class: "nav-item nav-link"  %>
         </li>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-item nav-link"  %>
      </li>
      <% end %>
    </ul>

  </div>
</nav>




<%# <% if current_user %>
<%# <% current_user.notification_betas.each do |notification| %> 
<%# <%= notification.inspect %> 
<%# <% end %>
<%# <% end %>  

