<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">  
        <%= link_to "Home", authenticated_root_path, class: "nav-item nav-link"  %>
      </li>
      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Notifications <span style="color: red"> <%= current_user.notification_betas.where(accepted: false).count %> </span> 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% current_user.notification_betas.each do |notification| %>
              <a class="dropdown-item" href="#">From <%= notification.user.email %>, status <%= notification.accepted %></a>
              <div class="dropdown-divider"></div>
            <% end %>
          </div>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Friends", friends_path, class: "nav-item nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Groups", groups_path, class: "nav-item nav-link"  %>
      </li>
      <% if user_signed_in? %>
        <%# <%= link_to "Edit profile", edit_user_registration_path %> 
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-item nav-link"  %>
        </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, class: "nav-item nav-link"  %>
         </li>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-item nav-link"  %>
      </li>
      <% end %>  
    </ul>
  
  </div>
</nav>






<%# <% if current_user %>
<%# <% current_user.notification_betas.each do |notification| %> 
<%# <%= notification.inspect %> 
<%# <% end %>
<%# <% end %>  

