<!DOCTYPE html>
<html>
  <head>
    <title>Otlob</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
    <%= render partial: 'layouts/nav' %>
      <!-- Container -->
      <div class="container">
        <!-- Alerts -->
        <div class="mt-4 mb-4">
          <% if flash[:notice] %>
          <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:notice]%>
          </div>
          <% elsif flash[:error]%>
          <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:error]%>
          </div>
          <% elsif flash[:alert] %>
          <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:alert]%>
        </div>
        <% end %>
        </div>
        
        <!-- Main page Body -->
        <%= yield %>
        <% if current_user %>
          <div id="user-id" data-user-id="<%= current_user.id %>"></div>
        <% end %>
    </div>
  </body>

</html>
